@import "src/styles/index.scss";

.project-container {
  // @include centerContent(column, center);
  // gap: 10em;
  // margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  gap: 12em 0;
  padding: 20px 50px;
  @include breakpoint(0px, 1440px) {
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
  }
  @include breakpoint(0px, 850px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 8em 0;
  }
}
