@import "src/styles/index.scss";

.title-container {
  @include centerContent(column, center);
  text-align: center;
  width: 100%;
  margin: 300px auto 0px auto;
  p {
    width: 40%;
  }
  @include breakpoint(0px, 1024px) {
    p {
      width: 75%;
    }
  }
}

.container-bg {
  background-color: $primary-colour;
  color: $secondary-colour;
}
