@import "src/styles/index.scss";

.title-container {
  @include centerContent(column, center);
  text-align: center;
  width: 100%;
  margin: 250px auto 0px auto;
  p {
    width: 40%;
    font-size: clamp(0.8rem, 1vw + 1rem, 1.2rem);
  }
  h2 {
    font-weight: 700;
  }
  @include breakpoint(0px, 1024px) {
    margin: 300px auto 0px auto;
    p {
      width: 75%;
      margin: 0px auto 75px auto;
    }
  }

  @include breakpoint(0px, 425px) {
    margin: 200px auto 0px auto;
  }
}

.container-bg {
  background-color: $primary-colour;
  color: $secondary-colour;
  margin: 250px auto 250px auto;
  @include breakpoint(0px, 600px) {
    margin: 150px auto 100px auto;
  }
}
