@import "src/styles/index.scss";

.timeline-container {
  margin: 50px 0px;
  @include breakpoint(0px, 600px) {
    margin: 0px 0px;
  }
  p {
    color: $primary-colour;
  }
}

.timeline-item-container {
  padding-top: 0px;
}

.timeline-title {
  font-family: "Titillium Web", sans-serif;
  font-size: clamp(0.8rem, 1vw + 1rem, 2rem);

  font-weight: 700;
  color: $primary-colour;
  margin: 0;
}

.timeline-desc {
  margin-bottom: 150px;
  width: 34ch;
  @include breakpoint(0px, 600px) {
    width: 20ch;
  }
}

.highlight-text {
  font-weight: 700;
  cursor: default;
}

#highlight-link-text {
  cursor: pointer;
}

.line {
  height: 64px;
  width: 4px;
  background-color: $primary-colour;
}

.date {
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  padding-top: 10px;
  @include breakpoint(0px, 600px) {
    padding-top: 5px;
  }
}

.dot {
  width: 32px;
  height: 32px;
  margin: 0px 40px;
  background-color: $primary-colour;
  border: solid 3px $primary-colour;
  transition: 0.5s;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
  @include breakpoint(0px, 600px) {
    margin: 0;
    width: 18px;
    height: 18px;
  }
}

.active-dot {
  scale: 1.2;
}

.outlined {
  background-color: transparent;
}

.test {
  background-color: blue;
}
