@mixin centerContent($direction, $justify) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: center;
}

@mixin horizontalList($sideMargin) {
  @include centerContent(row, center);
  list-style: none;
  li {
    margin: 0px $sideMargin;
    cursor: pointer;
    color: $secondary-colour;
    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 3px;
      text-underline-offset: 0.5em;
    }
  }
  a {
    &:visited {
      color: inherit;
    }
  }
}

@mixin verticalList($topMargin) {
  @include centerContent(column, center);
  list-style: none;
  text-decoration: underline;
  li {
    margin: $topMargin 0px;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 3px;
      text-underline-offset: 0.5em;
    }
  }
  a {
    &:visited {
      color: inherit;
    }
  }
}

@mixin breakpoint($minwidth, $maxwidth) {
  @media screen and (min-width: $minwidth) and (max-width: $maxwidth) {
    @content;
  }
}

/* Dicates all colour styling after switching e.g. buttons and cards */

@mixin theme($accent) {
  nav a.active {
    text-decoration-color: $accent;
    &:hover {
      text-decoration-color: $accent;
    }
  }
  .card {
    background-color: $accent;
    transition: background-color 0.3s;
  }
  button,
  input[type="submit"] {
    background-color: $accent;
    border-color: $accent;
    &:hover {
      background-color: transparent;
    }
  }
  input[type="submit"] {
    color: $primary-colour;
  }
  .dot {
    &:hover {
      background-color: $accent;
    }
  }
  .active-dot {
    background-color: $accent;
  }
  .outlined {
    &:hover {
      background-color: $accent;
    }
  }
  .language-icon {
    color: $accent;
    &:hover {
      color: $secondary-colour;
    }
  }
  .highlight-text {
    background: linear-gradient(to bottom, ($accent) 0%, ($accent) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 2px 2px;
    transition: 0.3s;
    color: $primary-colour;
    &:hover {
      background-size: 2px 50px;
    }
    &:visited {
      color: $primary-colour;
      text-decoration: none;
    }
  }
  .project-card {
    border-top-color: $accent;
  }

  .category-button {
    background-color: transparent;
    border: transparent;
    &:hover {
      background-color: $accent;
      color: $primary-colour;
    }
  }
  .category-active {
    background-color: $accent;
    border: transparent;
    &:hover {
      background-color: $accent;
      color: $primary-colour;
    }
  }
  .text-input:focus {
    border-color: $accent;
  }
  .snackbar {
    border-color: $accent;
  }
}
