@mixin centerContent($direction, $justify) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: center;
}

@mixin horizontalList($sideMargin) {
  @include centerContent(row, center);
  list-style: none;
  li {
    margin: 0px $sideMargin;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  a {
    &:visited {
      color: inherit;
    }
  }
}

@mixin breakpoint($minwidth, $maxwidth) {
  @media screen and (min-width: $minwidth) and (max-width: $maxwidth) {
    @content;
  }
}

@mixin imgCard($url) {
  background-image: url($url);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  width: 400px;
  height: 400px;
  box-shadow: $bottom-box-shadow;
}
