@mixin centerContent($direction, $justify) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: center;
}

@mixin horizontalList($sideMargin) {
  @include centerContent(row, center);
  list-style: none;
  li {
    margin: 0px $sideMargin;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  a {
    &:visited {
      color: inherit;
    }
  }
}

@mixin verticalList($topMargin) {
  @include centerContent(column, center);
  list-style: none;
  text-decoration: underline;
  li {
    margin: $topMargin 0px;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  a {
    &:visited {
      color: inherit;
    }
  }
}

@mixin breakpoint($minwidth, $maxwidth) {
  @media screen and (min-width: $minwidth) and (max-width: $maxwidth) {
    @content;
  }
}

/* Dicates all colour styling after switching e.g. buttons and cards */

@mixin theme($accent) {
  * {
    transition: 0.5s;
  }
  .card {
    background-color: $accent;
  }
  button {
    background-color: $accent;
    border-color: $accent;
    &:hover {
      background-color: transparent;
    }
  }
  .dot {
    &:hover {
      background-color: $accent;
    }
  }

  .outlined {
    &:hover {
      background-color: $accent;
    }
  }
}
