@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
@import "./mixins.scss";

// * {
//   border: 1px solid red;
// }

/* Colours & Box Shadows */
$primary-colour: #272932;
$secondary-colour: #e7ecef;

$accent-colour-orange: #f4bd51;
$accent-colour-green: #00b295;
$accent-colour-blue: #6193d1;

$bottom-box-shadow: 0px 8px 8px #0d0f16;

/* Global stylings */

html {
  background-color: $primary-colour;
}

body {
  margin: 0;
  background-color: $secondary-colour;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

p,
a {
  font-family: "Oxygen", sans-serif;
  font-size: clamp(0.8rem, 1vw + 1rem, 1rem);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-size: clamp(0.8rem, 2.5vw + 1rem, 2.5rem);
}

button,
input[type="submit"] {
  // -webkit-appearance: none;
  appearance: none;
  border-radius: 10px;
  border: solid 2px;
  padding: 10px 25px;
  font-family: "Oxygen", sans-serif;
  font-size: 16px;
  font-weight: 700;
  transition: 0.2s;
  cursor: pointer;
  color: $primary-colour;
  &:hover {
    background-color: transparent;
    border: solid 2px;
    color: $secondary-colour;
  }
}

/* Hides label styling for theme switch input form */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
