@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
@import "./mixins.scss";

/* Colours & Box Shadows */
$primary-colour: #272932;
$secondary-colour: #e7ecef;
$accent-colour: #f4bd51;

$bottom-box-shadow: 0px 8px 8px #0d0f16;

/* Fonts */
body {
  margin: 0;
  background-color: $secondary-colour;
}

p,
a {
  font-family: "Oxygen", sans-serif;
  font-size: clamp(0.8rem, 1vw + 1rem, 1rem);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-size: clamp(1rem, 2.5vw + 1rem, 2rem);
}
