@import "src/styles/index.scss";

.entry-container {
  display: grid;
  align-self: stretch;
}

.project-entry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-image {
  width: calc(60% + 10%);
  min-height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px 20px 0px 0px;
  box-shadow: 1px -5px 8px #a3a3a3;
  border-bottom: none;
  transition: none !important;
  @include breakpoint(0px, 600px) {
    height: 150px;
  }
}

.project-card {
  display: flex;
  flex-direction: column;
  background-color: $primary-colour;
  color: $secondary-colour;
  padding: 10px 5% 20px 5%;
  width: 60%;
  min-height: 250px;

  // border: 1px solid $primary-colour;
  border-top-style: solid;
  border-top-width: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  h2 {
    margin: 10px 0px 20px 0px;
    font-size: 24px;
  }
  p {
    width: 100%;
    max-width: 60ch;
    margin: 2px 0px;
    // font-size: clamp(16px, 18px, 20px);
    font-size: 16px;
    margin-bottom: 0;
    flex-basis: 7em;
  }
}

.project-languages {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 0px 20px 0px;
  width: 100%;
  gap: 2em;
  i {
    font-size: 36px;
  }
  @include breakpoint(0px, 1024px) {
    gap: 2em;
    // i {
    //   font-size: 36px;
    // }
  }
  @include breakpoint(0px, 425px) {
    margin: 20px 0px 20px 0px;
    gap: 8px;
  }
}

.project-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 2em;
  button {
    padding: 7px 12px;
  }
  @include breakpoint(0px, 400px) {
    gap: 1em;
    button {
      padding: 10px 10px;
    }
  }
}
