@import "src/styles/index.scss";

.entry-container {
  display: grid;
  align-self: stretch;
}

.project-entry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-image {
  width: calc(75% + 10%);
  min-height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px 20px 0px 0px;
  // border: 1px solid $primary-colour;
  box-shadow: 1px -5px 8px #a3a3a3;
  border-bottom: none;
  @include breakpoint(0px, 600px) {
    height: 150px;
  }
}

.project-card {
  display: flex;
  flex-direction: column;
  background-color: $primary-colour;
  color: $secondary-colour;
  padding: 25px 5%;
  width: 75%;

  // border: 1px solid $primary-colour;
  border-top-style: solid;
  border-top-width: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  h2 {
    margin: 0;
  }
  p {
    width: 100%;
    max-width: 60ch;
    text-wrap: wrap;
    font-size: clamp(0.7rem, 1vw + 1rem, 1.2rem);
    margin-bottom: 0;
    flex-basis: 7em;
  }
}

.project-languages {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 0px 20px 0px;
  width: 100%;
  gap: 3em;
  @include breakpoint(0px, 1024px) {
    gap: 2em;
    i {
      font-size: 36px;
    }
  }
}

.project-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 5em;
  @include breakpoint(0px, 400px) {
    gap: 1em;
    button {
      padding: 10px 10px;
    }
  }
}
