@import "src/styles/index.scss";

header {
  @include centerContent(row, space-between);
  background-color: $primary-colour;
  color: $secondary-colour;
  h2 {
    font-weight: 400;
    margin-left: 5%;
  }
}

.logo {
  margin: 15px 0px 15px 15px;
  @include breakpoint(0px, 850px) {
    height: 60px;
    width: 60px;
  }
  @include breakpoint(0px, 450px) {
    height: 45px;
    width: 45px;
  }
}
