@import "src/styles/index.scss";

header {
  @include centerContent(row, space-between);
  background-color: $primary-colour;
  color: $secondary-colour;
  h2 {
    font-weight: 400;
  }
}

.logo {
  @include breakpoint(0px, 850px) {
    height: 60px;
    width: 60px;
  }
  @include breakpoint(0px, 450px) {
    height: 45px;
    width: 45px;
  }
}

.logo-title-container {
  @include centerContent(row, center);
  margin: 15px 0px 15px 2%;
  h2 {
    font-size: clamp(0.8rem, 2.5vw + 1rem, 2rem);
    margin-left: 25px;

    width: 9ch;
  }
}
