@import "src/styles/index.scss";

header {
  @include centerContent(row, space-between);
  background-color: $primary-colour;
  color: $secondary-colour;
  h2 {
    font-weight: 400;
    margin-left: 5%;
  }
}

nav {
  @include centerContent(row, center);
  @include horizontalList(2em);
  margin-right: 5%;
  a {
    text-decoration: none;
  }
  @include breakpoint(0px, 500px) {
    @include horizontalList(1rem);
  }
}

nav a.active {
  text-decoration: underline;
}
