@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
@import "./_mixins.scss";

$primary-colour: #272932;
$secondary-colour: #e7ecef;
$accent-colour: #f4bd51;

* {
  font-family: "Oxygen", sans-serif;
}

body {
  @include centerContent(column, center);
  margin: 0;
  background-color: $primary-colour;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Titillium Web", sans-serif;
}

.navbar {
  @include centerContent(row, space-between);
  background-color: $primary-colour;
  color: $secondary-colour;
  h2 {
    font-weight: 400;
    margin-left: 2em;
  }
  ul {
    @include horizontalList(1em);
    margin-right: 2em;
    li {
      padding: 1em;
    }
  }
}

#page-container {
  @include centerContent(column, center);
  width: 1440px;
  height: 100vh;
  border: red 2px solid;
}
