@import "src/styles/index.scss";

.cta-container {
  @include centerContent(row, space-between);
  background-color: $primary-colour;
  color: $secondary-colour;
  box-shadow: $bottom-box-shadow;
  width: 550px;
  padding: 20px 20px;
  border-radius: 10px;
  margin: 0 auto 50px;
  h3 {
  }
  @include breakpoint(0px, 600px) {
    @include centerContent(column, space-around);
    width: 250px;
    padding: 20px 30px;
    text-align: center;
    h3 {
      margin-top: 0;
    }
  }
  a {
    text-decoration: none;
  }
}

.col-layout {
  @include centerContent(column, center);
  gap: 1em;
}

.info-container {
  @include centerContent(row, space-around);
  @include breakpoint(0px, 600px) {
    flex-direction: column;
    gap: 1em;
  }
}

.cta-image-container {
  display: flex;
  flex-direction: column;
  gap: 3em;
  @include breakpoint(0px, 600px) {
    flex-direction: row;
  }
}

.cta-image {
  border-radius: 10px;
}

.cta-desc {
  width: 60%;
  @include breakpoint(0px, 600px) {
    width: 100%;
  }
}

.cta-button-container {
  align-self: flex-end;
  @include breakpoint(0px, 600px) {
    align-self: center;
  }
}

.cta-button {
  border-radius: 10px;
  border: solid 2px;
  padding: 10px 25px;
  font-family: "Oxygen", sans-serif;
  font-size: 16px;
  font-weight: 700;
  transition: 0.5s;
  cursor: pointer;
  &:hover {
    background-color: transparent;
    border: solid 2px;
    color: $secondary-colour;
  }
}
