@import "src/styles/index.scss";

.cta-container {
  @include centerContent(row, space-between);
  background-color: $primary-colour;
  color: $secondary-colour;
  box-shadow: $bottom-box-shadow;
  width: 550px;
  padding: 20px 20px;
  border-radius: 10px;
  margin: 0 auto 50px;
  h3 {
    font-size: clamp(0.8rem, 2.5vw + 1rem, 1.6rem);
  }
  @include breakpoint(0px, 600px) {
    @include centerContent(column, space-around);
    width: 250px;
    padding: 20px 30px;
    margin: 0 auto 100px;

    text-align: center;
    h3 {
      margin-top: 0;
    }
  }
  a {
    text-decoration: none;
  }
}

.col-layout {
  @include centerContent(column, center);
  gap: 1em;
}

.info-container {
  @include centerContent(row, space-around);
  @include breakpoint(0px, 600px) {
    flex-direction: column;
    gap: 1em;
  }
}

.cta-image-container {
  display: flex;
  flex-direction: column;
  gap: 3em;
  @include breakpoint(0px, 600px) {
    flex-direction: row;
  }
}

.cta-image {
  border-radius: 10px;
}

.cta-desc {
  width: 60%;
  font-size: 18px;
  @include breakpoint(0px, 600px) {
    width: 100%;
  }
}

.cta-button-container {
  align-self: flex-end;
  @include breakpoint(0px, 600px) {
    align-self: center;
  }
}
