@import "src/styles/index.scss";

footer {
  @include centerContent(row, center);
  background-color: $secondary-colour;
  color: $primary-colour;
  text-align: center;
  margin-top: 100px;
  h3 {
    font-size: 24px;
    margin: 3px;
  }
}
